<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Characters</title>
</head>
<body>
<h1>All Characters</h1>
<a th:href="@{/characters/new}">Create New Character</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Health</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Action</th>
    </tr>
    <tr th:each="character : ${characters}">
        <td th:text="${character.id}"></td>
        <td th:text="${character.name}"></td>
        <td th:text="${character.health}"></td>
        <td th:text="${character.attack}"></td>
        <td th:text="${character.defense}"></td>
        <td>
            <a th:href="@{'/characters/delete/' + ${character.id}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
