<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Character</title>
</head>
<body>
<h1>Create New Character</h1>
<form th:action="@{/characters}" th:object="${character}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br/>
    <label>Health:</label>
    <input type="number" th:field="*{health}" /><br/>
    <label>Attack:</label>
    <input type="number" th:field="*{attack}" /><br/>
    <label>Defense:</label>
    <input type="number" th:field="*{defense}" /><br/>
    <button type="submit">Create</button>
</form>
</body>
</html>
</html>