<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/home.css">
  <title>RPG - Dragon Repeller</title>
</head>
<body>
<div class="btn-game" role="group" aria-label="Switch between menu's">
  <a href="/" type="button" class="btn btn-primary">Main Menu</a>
  <a href="/characters" type="button" class="btn btn-primary">Saved Characters</a>
  <a th:href="@{/characters/character_form}" type="button" class="btn btn-primary">Character Creation</a>
</div>

<script src="/js/home.js"></script>
</body>
</html>
